In [10]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   #Data visualisation libraries 
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline
def prune(syn):
    x=[]
    #print(syn)
    for i in range(2, len(syn) - 3):
        x.append(syn[i])

    return "".join(x)

conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
         database='stocksdb'
         )
#print(conn)
cur = conn.cursor()
cur.execute("SHOW TABLES")
tables = cur.fetchall()
for t in tables:
    t=prune(str(t))
    df=pd.read_sql_query("select * from "+t,conn)
    print(df)
df.head()
df.info()
df.describe()
df.columns

X =df[['volume']]
y=df[['open','high','low','close']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)
lm = LinearRegression()
lm.fit(X_train,y_train)
predictions = lm.predict(X_test)
print(predictions)

                isin insertion_datetime            datetime     open     high  \
0       INE545A01016                NaT 2018-01-01 09:15:00  2419.00  2436.00
1       INE545A01016                NaT 2018-01-01 09:16:00  2435.00  2440.00
2       INE545A01016                NaT 2018-01-01 09:17:00  2439.70  2439.70
3       INE545A01016                NaT 2018-01-01 09:18:00  2420.00  2424.50
4       INE545A01016                NaT 2018-01-01 09:19:00  2395.00  2413.95
5       INE545A01016                NaT 2018-01-01 09:20:00  2409.05  2420.75
6       INE545A01016                NaT 2018-01-01 09:21:00  2420.30  2429.25
7       INE545A01016                NaT 2018-01-01 09:22:00  2429.15  2430.00
8       INE545A01016                NaT 2018-01-01 09:23:00  2423.70  2425.00
9       INE545A01016                NaT 2018-01-01 09:24:00  2420.45  2428.80
10      INE545A01016                NaT 2018-01-01 09:25:00  2428.65  2430.00
11      INE545A01016                NaT 2018-01-01 09:26:00  2427.20  2439.00
12      INE545A01016                NaT 2018-01-01 09:27:00  2435.00  2438.30
13      INE545A01016                NaT 2018-01-01 09:28:00  2435.00  2437.55
14      INE545A01016                NaT 2018-01-01 09:29:00  2437.70  2437.70
15      INE545A01016                NaT 2018-01-01 09:30:00  2435.95  2436.00
16      INE545A01016                NaT 2018-01-01 09:31:00  2431.70  2431.70
17      INE545A01016                NaT 2018-01-01 09:32:00  2428.90  2432.95
18      INE545A01016                NaT 2018-01-01 09:33:00  2432.20  2445.00
19      INE545A01016                NaT 2018-01-01 09:34:00  2444.00  2445.40
20      INE545A01016                NaT 2018-01-01 09:35:00  2444.00  2444.00
21      INE545A01016                NaT 2018-01-01 09:36:00  2440.50  2445.00
22      INE545A01016                NaT 2018-01-01 09:37:00  2444.00  2448.00
23      INE545A01016                NaT 2018-01-01 09:38:00  2447.95  2453.15
24      INE545A01016                NaT 2018-01-01 09:39:00  2444.00  2448.80
25      INE545A01016                NaT 2018-01-01 09:40:00  2448.05  2451.95
26      INE545A01016                NaT 2018-01-01 09:41:00  2450.00  2451.75
27      INE545A01016                NaT 2018-01-01 09:42:00  2447.55  2449.00
28      INE545A01016                NaT 2018-01-01 09:43:00  2449.00  2450.45
29      INE545A01016                NaT 2018-01-01 09:44:00  2450.45  2453.15
...              ...                ...                 ...      ...      ...
499970  INE492A01029                NaT 2017-05-12 14:54:00   649.65   649.95
499971  INE492A01029                NaT 2017-05-12 14:55:00   649.10   649.10
499972  INE492A01029                NaT 2017-05-12 14:56:00   649.00   649.00
499973  INE492A01029                NaT 2017-05-12 14:57:00   649.00   649.00
499974  INE492A01029                NaT 2017-05-12 14:58:00   649.60   649.60
499975  INE492A01029                NaT 2017-05-12 14:59:00   649.60   649.60
499976  INE492A01029                NaT 2017-05-12 15:00:00   649.45   649.45
499977  INE492A01029                NaT 2017-05-12 15:01:00   649.45   649.85
499978  INE492A01029                NaT 2017-05-12 15:02:00   649.85   649.85
499979  INE492A01029                NaT 2017-05-12 15:03:00   649.85   649.85
499980  INE492A01029                NaT 2017-05-12 15:04:00   649.85   649.85
499981  INE492A01029                NaT 2017-05-12 15:05:00   649.80   649.80
499982  INE492A01029                NaT 2017-05-12 15:06:00   649.75   649.75
499983  INE492A01029                NaT 2017-05-12 15:07:00   649.75   649.75
499984  INE492A01029                NaT 2017-05-12 15:08:00   649.00   649.00
499985  INE492A01029                NaT 2017-05-12 15:09:00   648.50   648.50
499986  INE492A01029                NaT 2017-05-12 15:10:00   648.50   649.90
499987  INE492A01029                NaT 2017-05-12 15:11:00   649.90   649.90
499988  INE492A01029                NaT 2017-05-12 15:12:00   649.90   649.90
499989  INE492A01029                NaT 2017-05-12 15:13:00   649.15   649.15
499990  INE492A01029                NaT 2017-05-12 15:14:00   648.65   648.65
499991  INE492A01029                NaT 2017-05-12 15:15:00   648.10   649.60
499992  INE492A01029                NaT 2017-05-12 15:16:00   649.60   649.60
499993  INE492A01029                NaT 2017-05-12 15:17:00   649.60   649.60
499994  INE492A01029                NaT 2017-05-12 15:18:00   649.60   649.60
499995  INE492A01029                NaT 2017-05-12 15:19:00   649.60   649.60
499996  INE492A01029                NaT 2017-05-12 15:20:00   649.00   649.40
499997  INE492A01029                NaT 2017-05-12 15:21:00   649.35   649.35
499998  INE492A01029                NaT 2017-05-12 15:22:00   648.15   649.30
499999  INE492A01029                NaT 2017-05-12 15:23:00   649.30   649.30

            low    close  volume  open_interest
0       2408.90  2435.25   10281            NaN
1       2426.45  2439.00   13315            NaN
2       2422.10  2424.95    3760            NaN
3       2386.50  2395.00   11653            NaN
4       2394.70  2409.85    7744            NaN
5       2405.30  2420.75    5458            NaN
6       2419.95  2429.00    4865            NaN
7       2417.00  2423.00    2796            NaN
8       2419.00  2420.40    2580            NaN
9       2420.45  2428.80    2265            NaN
10      2426.80  2429.00    4123            NaN
11      2426.85  2436.95    4583            NaN
12      2432.10  2433.95    1558            NaN
13      2430.00  2437.55    4642            NaN
14      2434.00  2435.95    1033            NaN
15      2430.00  2431.70    1838            NaN
16      2428.70  2428.90    1330            NaN
17      2428.90  2432.20    5154            NaN
18      2432.20  2443.05    6419            NaN
19      2443.80  2444.00    1797            NaN
20      2440.35  2441.70    2642            NaN
21      2440.50  2444.00    2084            NaN
22      2444.00  2448.00    1990            NaN
23      2444.70  2445.85   26588            NaN
24      2443.50  2448.65    2479            NaN
25      2445.10  2450.00    3455            NaN
26      2447.95  2448.00    1950            NaN
27      2447.50  2449.00    1010            NaN
28      2448.00  2450.45    1520            NaN
29      2450.40  2453.15    6347            NaN
...         ...      ...     ...            ...
499970   649.15   649.15     156            NaN
499971   649.10   649.10      90            NaN
499972   649.00   649.00       3            NaN
499973   649.00   649.00      25            NaN
499974   649.60   649.60       5            NaN
499975   649.45   649.45      34            NaN
499976   649.45   649.45       0            NaN
499977   649.45   649.85      10            NaN
499978   649.85   649.85       0            NaN
499979   649.85   649.85       0            NaN
499980   649.75   649.75      24            NaN
499981   649.75   649.75      36            NaN
499982   649.75   649.75       0            NaN
499983   649.00   649.00      50            NaN
499984   648.50   648.50     127            NaN
499985   648.50   648.50       0            NaN
499986   648.50   649.90      35            NaN
499987   649.90   649.90       0            NaN
499988   649.15   649.15       4            NaN
499989   648.65   648.65      25            NaN
499990   648.10   648.10     130            NaN
499991   648.10   649.60     109            NaN
499992   649.60   649.60       0            NaN
499993   649.55   649.60      15            NaN
499994   649.60   649.60      10            NaN
499995   649.45   649.45      30            NaN
499996   649.00   649.40      11            NaN
499997   648.15   648.15      83            NaN
499998   648.15   649.30      11            NaN
499999   649.05   649.05     313            NaN

[500000 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 9 columns):
isin                  500000 non-null object
insertion_datetime    48060 non-null datetime64[ns]
datetime              500000 non-null datetime64[ns]
open                  500000 non-null float64
high                  500000 non-null float64
low                   500000 non-null float64
close                 500000 non-null float64
volume                500000 non-null int64
open_interest         48060 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(1)
memory usage: 34.3+ MB